<!--
  ~ Copyright (c) 22/04/2022 19:35
  ~ @author Ronald Tchuekou
  ~ @email ronaldtchuekou@gmail.com
  -->

<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <title>Detect-presence Mail</title>
</head>
<body>
<div style='width: 100%; padding: 20px'>
    <table style='width: 100%; border-collapse: collapse;'>
        <tbody>
        <tr>
            <td style='background-color: #003bd5; font-size: 12px; text-align: center; color: white; padding: 5px;'>
                © Detect-presence, 2022 tous droits réservés.
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
